#friends-display-link {
  text-align: center;
  display: block;
  /* 가운데정렬 ! */
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  /* border에서 안쪽으로 간격 주는 방법 : padding 활용 */
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden; /*마우스로 걸리지 않게 빠짐*/
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh; /* 화면 높이의 100%를 의미 */
  width: 100vw; /* 화면 너비의 100%를 의미 */
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}
