.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* 교차축을 이용해서 두 글이 좌우가 아닌 위아래로 오게 만듦 */
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 25px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7; /*투명도*/
  font-size: 17px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  font-size: 18px;
  padding: 15px 0px;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  margin-top: 15px;
  margin-bottom: 40px;
  border-radius: 7px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}
