.user-component {
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
  object-fit: cover; /* 사진이 찌그러지지 않도록 ! */
}

.user-component__title {
  font-weight: 640;
  font-size: 20px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
  font-size: 18px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* chats에서 badge가 오른쪽으로 정렬되게 만듦 */
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}
